#navbar {
  display: flex;
  margin: 0;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: green;

  #left-nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
  }

  #center-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  #right-nav { 
    width: 15%;
    display: flex;
    justify-content: space-between;
  }

}